<a-entity
  id="stereoSettingsMenu"
  position="0 0.5 0.01"
  render-order="menutext"
  bind__visible="stereoSettingsMenuOpen"
>
  <a-entity
      position="0 0.15 0"
      mixin="font"
      text="align: center; value: Drag the sliders to adjust the visibility of the beats.; width: 3; wrapCount: 100"
    ></a-entity>

  <a-entity
    stereo-beat-preview="type: dot; color: blue;"
    position="0.6 -0.5 -2"
    scale="3 3 3"
  ></a-entity>
  <a-entity
    stereo-beat-preview="type: dot; color: red;"
    position="-0.6 -0.5 -2"
    scale="3 3 3"
  ></a-entity>

  <a-entity id="stereoSettingsContainer" position="0 -1 0.5">
    <a-entity
      id="stereoSettings"
      position="0 0 0"
      layout="type: box; columns: 1; margin: 0.25"
    >
      <a-entity
        percentage-slider="name: red"
        proxy-event="event: update; to: a-scene; as: stereosettingsupdate"
        bind__percentage-slider="value: stereoSettings.red; handleBarColor: colorPrimaryBright; handleColor: colorPrimary; active: stereoSettingsMenuOpen"
      ></a-entity>
      <a-entity
        percentage-slider="name: blue"
        proxy-event="event: update; to: a-scene; as: stereosettingsupdate"
        bind__percentage-slider="value: stereoSettings.blue; handleBarColor: colorSecondaryBright; handleColor: colorSecondary; active: stereoSettingsMenuOpen"
      ></a-entity>
    </a-entity>
  </a-entity>
</a-entity>
